<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Batteries 911</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron"></div>
      <div class="page-header">
        <h1>Batteries</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Voltage</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let battery of batteries" (click)="onSelect(battery.cdBattery)">
                <td>{{ battery.dsBrand }}</td>
                <td>{{ battery.dsVoltage }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
        <battery-details [battery]="batteryDetails"></battery-details>
      </div>
      </div>
    </div>
